@{
    ViewData["Title"] = "Board";
}
<center>
    <h2>Area for administrators! :)</h2>
</center>
<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">For Approval</h5>
                <p class="card-text">Please check new cars </p>
                <a asp-action="ForApproval" class="btn btn-primary">For Approval</a>
            </div>
        </div>
    </div>
</div>

